@import url("phone.css");
@import url("tablette.css");
@import url("smartphone.css");


*{margin: 0;
padding: 0;
 font-family: 'Montserrat', sans-serif;
}


.logo{
  display: flex;
}
.logo, img {
  float: left;
}

.logo, p{
  text-align: right
}

i {
  padding: 30px;
  text-align: center;
  font-size: 23px;
  margin-top: 2px;
 
}

 .nav-item {
  color: black; 
}


  .entete  {
    background-color:#003d66;
    color: white;
    text-align: center;
    height: 100px;
    padding: 5px 0px; 
  }
  

  .nav a {
    color: black
  }

footer{
  background-color: blue;
}

#container {
  display: flex;
  justify-content: space-evenly; 
  /*space-evenly pour les marges entre chaque bloc */
}
.competences {
  background-color: #81bfe9;
  width: 310px;
  height: 310px;
  margin: 10px 0px;
}



.button {
  background-color: #003d66;
  display: block;
   margin : auto;
}

p {
  text-align: center;
}

#container img {
  padding: 10px ;
}