@import url("phone.css");
@import url("tablette.css");
@import url("smartphone.css");


*{margin: 0;
padding: 0;
}


.logo{
  display: flex;
}

.logo, img {
  float: left;
  margin-left:10px;
}



#langues{
  float:right; 
  margin-right: 20px;
}

i {
  padding: 30px;
  text-align: center;
  font-size: 23px;
}



  .entete  {
    background-color:white;
    color: black;
    height: 100px;
    padding: 5px 0px; 
  }
  
.navbar {
  background-color: #003d66; 
  display: block;
  
}
  .nav a {
    color: white;
    font-size:23px;
  }

 .dropdown-menu{
    background-color: #003d66;
  }

footer{
  background-color: blue;
}

#container {
  display: flex;
  justify-content: space-evenly; 
  /*space-evenly pour les marges entre chaque bloc */
}
.competences {
  background-color: #81bfe9;
  width: 310px;
  height: 310px;
  margin: 10px 0px;
}



.button {
  background-color: #003d66;
  display: block;
   margin : auto;
}

p {
  text-align: center;
}

#container img {
  padding: 10px ;
}

#contact {
  display: flex;
  background-color: transparent


}

.form {
  width: 600px;
  height: 300px;
  margin: 10px 0px;
  padding: 20px;
}


footer{
  background-color: #003d66; 
  height: 100px
}


.form_contact
{
	height: 33px;
}


/* boutton formulaire de contact */
#button_send
{
	background-color: #468cad;
	border-style: none;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 1em;
	border-radius: 8px;
   width: 50%;
}

iframe {
  background-color: transparent
}


