@import url("video.css");
@import url("tablette.css");


*{margin: 0;
padding: 0;
 font-family: 'Montserrat', sans-serif;
 scroll-behavior: smooth;

}

.navbar {
  background-color: blue;
}

 .entete  {
  background-color:grey;
  display: inline;
}


footer{
  background-color: blue;
}

.containeur {
  background-color: aqua;
  display: flex;
  justify-content: space-evenly; 
  /*space-evenly pour les marges entre chaque bloc */
}
.competences {
  background-color: blueviolet;
  width: 300px;
  height: 300px;
  margin: 10px 0px;
}

